
/* ------------------------------------------------------- 

* Filename:     AngularJS TAB
* Website:      http://www.shanidkv.com
* Description:  Shanidkv AngularJS blog
* Author:       Shanid KV shanidkannur@gmail.com

---------------------------------------------------------*/

*{
    font-family: Arial;
    font-size: 13px;
    line-height: 140%;
}

.nav-tabs {
    margin-bottom: 15px;
}